.addcspopup-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5500;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid red; */
  transform: translate(-50%, -50%);
}

.addcspopup-inner {
  background-color: white;
  /* max-width: 950px; */
  width: 60%;
  height: 70vh;
  top: 50%;
  left: 50%;
  position: absolute;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  transform: translate(-50%, -50%);
}

.addcspopupBody {
  position: relative;
  width: 100%;
  z-index: 2;
  /* border: 1px solid red; */
  height: 60vh;
  overflow-y: auto;
}

.addcspopupFooter {
  /* border: 1px solid red; */
  position: absolute;
  z-index: 5000;
  bottom: 5px;
  right: 1px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .addcspopup-inner {
    width: 70% !important;
    /* left: 15%; */
  }
}

@media screen and (max-width: 577px) {
  .addcspopup-inner {
    width: 90% !important;
    /* left: 5%; */
  }
}

span#basic-addon3 {
  font-size: 13px;
  padding: 0 5px;
}

.sec-addIcon {
  /* border: 1px solid red; */
  height: 53.5px;
  display: flex;
  padding: 0px;
  padding-top: 26px !important;
  margin-left: -8px;
}

.Plus-icon {
  border: 1px solid var(--button-color);
  height: 24px;
  cursor: pointer;
  opacity: 0.6;
  padding: 2px;
}

.Plus-icon:hover {
  opacity: 1;
}

.BoxUpload {
  display: grid;
  margin-top: 10px;
  place-items: center;
  border: 1px solid #aab9d3;
  /* padding: 36px 48px; */
  position: relative;
  height: 150px;
  width: 28%;
  background: #fbfbff;
  border-radius: 5px;
}
.BoxUpload > .image-upload {
  display: flex;
  flex-wrap: wrap;
}
.image-upload > label {
  cursor: pointer;
}
.image-upload > label :hover {
  opacity: 0.8;
}
.image-upload > input {
  display: none;
}

.ImagePreview {
  position: relative;
}
/* cursor: pointer; */
#uploaded-image {
  height: 150px;
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}
.close-icon {
  background: #000;
  border-radius: 5px;
  opacity: 0.7;
  position: absolute;
  z-index: 10;
  right: 4px;
  top: 5px;
  cursor: pointer;
  z-index: 0;
}
.close-icon:hover {
  opacity: 1;
}

.imgPrv-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5500;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid red; */
  transform: translate(-50%, -50%);
}

/* @media (min-width: 1367px) {
  .imgPrv-popup {
    right: -43px;
    bottom: -99px;
  }
}

@media (min-width: 1600px) {
  .imgPrv-popup {
    right: -43px;
    bottom: -189px;
  }
} */

.imgPrv-popup-inner {
  background-color: white;
  /* max-width: 950px; */
  width: 50vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  position: absolute;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  transform: translate(-50%, -50%);
}

.ImgPreview {
  /* border: 1px solid red; */
  position: relative;
  /* width: 150px; */
  height: 100%;
  width: 100%;
  /* margin: 10px; */
  display: flex;
}

#prv-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.imgPrv-close-icon {
  position: absolute;
  color: white;
  background-color: black;
  /* border: 1px solid red; */
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 5;
  opacity: 0.7;
}

.imgPrv-close-icon:hover {
  opacity: 1;
}

.popover-container {
  /* border: 1px solid red; */
  position: absolute;
  right: 15px;
  top: 50px;
  z-index: 6000;
  padding: 5px;
  font-size: 13px;
  width: 25vw;
  background-color: #e1e5ee;
  height: fit-content;
  border-radius: 5px;
}

.popover-close {
  display: flex;
  justify-content: flex-end;
}

.popover-inner {
  padding: 10px;
}

@media (max-width: 860px) {
  .popover-container {
    width: 30vh;
  }
}
